$blue: #008CBA
$primary: $blue
$tabs-link-active-border-bottom-color: $brain-score-color
$tabs-link-active-color: $brain-score-color

@import "../../../node_modules/bulma/bulma"

@import "../../../node_modules/bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio"
