$blue: #008CBA
$primary: $blue

$section-padding: 1rem 3rem
$section-padding-desktop: 1rem 1.5rem

$tabs-link-active-border-bottom-color: $brain-score-color
$tabs-link-active-color: $brain-score-color

@import "../../../node_modules/bulma/bulma"

@import "../../../node_modules/bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio"
@import "../../../node_modules/bulma-list/sass/bulma-list"
