@use "benchmark_info" as benchmark_info
@use "collapsible" as collapsible

.navbar-competition
  background-color: rgb(7, 137, 48)
  color: white
  border-radius: 6px

  &:hover
    border: 1px solid $brain-score-color

.competition-hero

  background: rgb(0,0,0)
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(7,137,48,1) 54%, rgba(69,252,179,1) 100%)

  .title
    color: white
    font-weight: bold

section#competition
  ol.prizes
    list-style-type: none

  .prize-category
    border-bottom: 1px solid $brain-score-color

  #prize-pool
    font-weight: bold
    border-bottom: 1px solid $brain-score-color

  @include benchmark_info.benchmark_info
  @include collapsible.collapsible_control

#stimuli-samples
  max-height: 325px
  overflow-y: hidden

  .stimulus_sample
    height: 50px

.column
  float: left
  width: 33.33%
  padding: 5px

.row::after
  content: ""
  clear: both
  display: table

