.navbar-competition
  background-color: rgb(7, 137, 48)
  color: white
  border-radius: 6px

  &:hover
    border: 1px solid $brain-score-color

section#competition
  ol.prizes
    list-style-type: none

  .prize-category
    border-bottom: 1px solid $brain-score-color

  #prize-pool
    font-weight: bold
    border-bottom: 1px solid $brain-score-color
