@import url('https://fonts.googleapis.com/css?family=Open+Sans')
$brainscore_green: #45C676
$brainscore_blue: #47B7DE

.container.login
  margin-top: 150px
  padding: 85px
  position: relative /* Required to position the pseudo-element */
  border-radius: 40px
  background-size: cover
  background-repeat: no-repeat

.container.login::before
  content: ""
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: linear-gradient(rgba($brainscore_green, 0.6), rgba($brainscore_blue, 0.6))
  border-radius: 40px

.container.login-left
  background-color: white
  height: 550px
  border-radius: 5px
  padding: 7%

span.green_log
  font-weight: 600
  font-family: 'Open Sans', sans-serif
  color: $brainscore_green

span.gray_log
  font-weight: 600
  font-family: 'Open Sans', sans-serif
  color: lightgray

p.small_green
  font-weight: 500
  font-family: 'Roboto', sans-serif
  color: $brainscore_green
  padding-top: 10px

.input.gray
  background-color: #ededed
  margin-bottom: 7%

label.label-green
  color: $brainscore_green
  font-weight: 500
  font-family: 'Roboto', sans-serif


p.create-account, p.create-account a
  color: $brainscore_green
  text-decoration: underline
  font-size: 14px
  padding-top: 10px
  padding-bottom: 30px

//mobile styling (below 768px) - remove brain background
@media (max-width: 768px)
  .container.login
    background: linear-gradient(rgba($brainscore_green, 0.6), rgba($brainscore_blue, 0.6))
  .button.new_design.tutorial_button
    margin-left: 50px
  p.forgot_password
    margin-left: 20px


// FHD
@media (max-width: 1407px)
   .container.login
    background-position-x: -150px

//wrong password error message effect:
@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0

#wrong-password
  opacity: 1
  transition: opacity 0.5s

  &.fade-out
    animation-name: fadeOut
    animation-timing-function: ease-out
    animation-duration: 0.5s
    animation-delay: 0s
    animation-fill-mode: forwards

#wrong-password
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1001 // Ensure it's above other elements like the navbar. Adjust as necessary.
