@import "../../../node_modules/bulma/sass/utilities/mixins"

table.benchmarks
  font-family: arial, sans-serif
  border-collapse: collapse
  empty-cells: show
  table-layout: fixed
  margin: auto

  th
    font-weight: normal
    vertical-align: bottom
    text-align: center

  td
    border: 5px solid white
    vertical-align: middle
    text-align: left

  // header rotation
  @mixin transform_origin($origin)
    -webkit-transform-origin: $origin
    -moz-transform-origin: $origin
    -o-transform-origin: $origin
    -ms-transform-origin: $origin
    transform-origin: $origin

  @mixin rotate($rotation, $translateX, $translateY)
    -webkit-transform: rotate($rotation) translateX($translateX) translateY($translateY)
    -moz-transform: rotate($rotation) translateX($translateX) translateY($translateY)
    -ms-transform: rotate($rotation) translateX($translateX) translateY($translateY)
    -o-transform: rotate($rotation) translateX($translateX) translateY($translateY)
    transform: rotate($rotation) translateX($translateX) translateY($translateY)

  $rotate_transform_origin: 0px 0px
  $rotate_transform_rotate: 315deg
  $rotate_transform_translateX: -80px
  $rotate_transform_translateY: 80px
  th.rotate
    text-align: left

    white-space: nowrap
    @include transform_origin($rotate_transform_origin)
    @include rotate($rotate_transform_rotate, $rotate_transform_translateX, $rotate_transform_translateY)

    p
      display: inline-block
      height: 100px
      width: 40px

  // goodness indicators
  .score_cell
    text-align: center
    color: #00000099

    width: 40px
    height: 40px
    +tablet
      width: 50px
      height: 50px
    overflow: hidden

    p
      width: 40px

  // distance
  tr:nth-child(1) td
    border-top: 1em solid white

  tr
    td:nth-child(4), td:nth-child(9), th:nth-child(4), th:nth-child(9)
      border-left: 1em solid white

      &.rotate
        @include transform_origin(5px 5px)

  thead, tbody
    .model
      text-align: right

