@import "../../../node_modules/bulma/sass/utilities/mixins"
@import "rotate"

table.benchmarks
  font-family: arial, sans-serif
  empty-cells: show
  table-layout: fixed
  display: table
  width: initial

  &#leaderboard
    margin-top: 140px

  div
    &.hiddencontent
      padding: 0

  div
    overflow: hidden

  tr
    &.activation
      display: none

  a
    &.rotate
      text-align: left

      white-space: nowrap
      @include transform_origin(0px 0px)
      @include rotate(270deg, -80px, 80px)

    &.rotate:after
      @include rotate(90deg, 75px, -265px)

  th
    font-weight: normal
    vertical-align: bottom
    text-align: center

    &.hidden
      display: initial

    &.hiddencontent
      padding: 0 18px
      display: initial
      overflow: hidden
      background-color: #f1f1f1

    // sorting
    &.header
      cursor: pointer

      &:after
        box-sizing: border-box
        display: inline
        position: absolute
        left: -40.5%
        top: 165px
        font-size: 15px
        width: 100%
        line-height: 1
        color: rgba(0, 0, 0, 0.8)
        text-align: center

      &.rotate:after
        @include rotate(45deg, 60px, -270px)
        left: -250px

      &.headerSortUp:after
        content: "\25b2"

      &.headerSortDown:after
        content: "\25bc"


    // header rotation
    &.rotate
      text-align: left

      white-space: nowrap
      @include transform_origin(0px 0px)
      @include rotate(315deg, -25px, 40px)

      p
        display: inline-block
        height: 40px
        width: 40px
        padding: 1%
        margin-top: 0

    // depth-dependent header font
    .depth_0
      font-size: 13pt

    .depth_1
      &:not(.instance)
        &.brain_benchmark
          font-weight: bold
          font-size: 20px


  td
    //border: 5px solid white
    vertical-align: middle
    text-align: left
    white-space: nowrap
  //padding: 0

  // goodness indicators
  .score_cell
    text-align: center
    color: rgba(0, 0, 0, 0.6)

    width: auto
    height: auto
    +tablet
      width: 50px
      height: 50px
    overflow: hidden

    p
      width: 40px

    // with increasing depth, we decrease the font sizes of scores
    &.depth_0
      font-size: 13pt

    &.depth_1
      font-size: 11pt

    &.depth_2
      font-size: 10pt

    &.depth_3
      font-size: 8pt

    &.depth_4
      font-size: 7pt


  // distance
  tr:nth-child(1) td
    border-top: 0.25em solid white

  tr:not(.list_entry)
    // make better square for leaderboard table, but not for model dashboard list
    // root benchmarks
    td.depth_0
      border-left: 2em solid white

      &.rotate
        @include transform_origin(5px 5px)

    // benchmark levels
    td.depth_1
      border-left: 1em solid white
      border-top: 0.5em solid white

      &.rotate
        @include transform_origin(5px 5px)

    td.depth_2, td.depth_3
      border-left: .5em solid white
      border-top: 1em solid white

      &.rotate
        @include transform_origin(5px 5px)

    // public checkbox
    td.model-public-checkbox
      border-left: 4em solid white
      border-right: 4em solid white

    &.hiddencontent
      padding: 0 18px
      display: initial
      overflow: hidden
      background-color: #f1f1f1

  thead, tbody
    .model
      text-align: right

      p
        padding-right: 15px

      .submitter
        font-size: 14px
        color: gray
        font-style: italic

  strong
    &.headerExpand:before
      font-size: 10px
      content: "\229E"

    &.headerContract:before
      font-size: 10px
      content: "\229F"

input[type=checkbox]
  width: 16px
  height: 16px

.want_to_click
  cursor: pointer

/* general meta -- keep outside table qualifier for re-use in e.g. model view */
// benchmark version
.benchmark-version
  background-color: #eff0f1
  color: #a4a49f
  margin-left: 5px

// children count
.benchmark-count
  margin-left: 5px

span.bold
  font-weight: 700

span.italic
  font-style: italic
