name: brain-score.web
channels:
- defaults
- anaconda
- pytorch
dependencies:
  - python>=3.6
  - pip
  - django
  - numpy
  - psycopg2
  - nodejs
  - boto3
  - pip:
    - django_compressor
    - colour
    - tqdm
    - awsebcli
    - requests
