files:
  /home/ec2-user/.ssh/extra_authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDm8r0zjCIILFlF6mRiOhTtqcmkh1TvUedh9PV2kEc2pXN5X4BQ+hD+VXxBn6hAy3HWf9K2gDGDN2stU+ZkjKOmbuHzhJsBiPpQ61WkSh5ILxVHB6fwSMUAoIZkkyr9Jj1Hs+8D1HSjTjjpHrkvCn7t8DxQ5x3SBurL3ViKzNNA+NZAQTnCOVSFYePlZ3K+hLsLB49mHpK7PoeDy/2uJhi6gAcYEtsLEIhgWJN5nl9GXNf1B2XvNPTcS91IibqyChCI/xSdXAwcG5CDwyN49u6EOCa+MT07bMUpWKefhYvE2e/rsoXJVlKf+bkQjlk6ki5++yrTymeCJSuxBGMQkTdl jjpr
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC75cBsYt/sPlz+nJJKKmgPqR+wBP5DW1WQnQvou3CZIpPFFMe8Z5mXYLDiL1ZFlVrbmegQbVREffXKFKS+OQ2KJDdwAP1WRHpLL+/+yp/J9C42QyU9TmIbDxS+V36r5asT7mWzhtuRnUEqjiEF6eW9strt5Q8xGaqgye174oqPTDlhRcxcpYKO1FYYK3OJblJ3WOwwDRVvnRMUrY6nxFIVzIZ7P13D/IstyV1B7revIvX4xuGIjUaiE74xwp7XnZ5FZUYPEWN1V8KwXJuC5yGLYQFJ3OgbJ2AxRv+gOY7unr4wylOsK4LjNowCPC6ggorlbP3TpZVPpFnjgXsOZ2VR msch
commands:
  01_append_keys:
    cwd: /home/ec2-user/.ssh/
    command: sort -u extra_authorized_keys authorized_keys -o authorized_keys
  99_rm_extra_keys:
    cwd: /home/ec2-user/.ssh/
    command: rm extra_authorized_keys
