files:
  /home/ec2-user/.ssh/extra_authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDm8r0zjCIILFlF6mRiOhTtqcmkh1TvUedh9PV2kEc2pXN5X4BQ+hD+VXxBn6hAy3HWf9K2gDGDN2stU+ZkjKOmbuHzhJsBiPpQ61WkSh5ILxVHB6fwSMUAoIZkkyr9Jj1Hs+8D1HSjTjjpHrkvCn7t8DxQ5x3SBurL3ViKzNNA+NZAQTnCOVSFYePlZ3K+hLsLB49mHpK7PoeDy/2uJhi6gAcYEtsLEIhgWJN5nl9GXNf1B2XvNPTcS91IibqyChCI/xSdXAwcG5CDwyN49u6EOCa+MT07bMUpWKefhYvE2e/rsoXJVlKf+bkQjlk6ki5++yrTymeCJSuxBGMQkTdl jjpr
      ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAuG3e32Z3Gu63eHwCLihO6b73pxzzm+StKo969ggT+sPvfTBi5P2k5uPCBH4KzQU+QXfHqBKi+oMh640YcH0wq6QrDqQrh36dauoL0PH8DpnaYcebUcxIFiiSNJBZDhx/DyEhrRav77dAE6NZLknMLmCOgTWCS2HwwQ8zWrBZFS8/tO9eqHjaGFnT9s59Qw/9RO2ylFLE1lwlpUrFiWxJtr+qCtNdFIR+rTtTFpPGVUi8l86c1KazKfC2LNaAM8dgidg1E/blKBEKTIPh/mpcB/mZH2oLVe3O/A5h1cC8ml0WGICL5a8hPtarmIsNhGzIFacsQJvjIzV+r3421Bjenw== rsa-key-20141108
      ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIFEl7a3Hf1MK44DYKzY+kI1bU87w23fNtaAulO7FyCt mferg@mit.edu

commands:
  01_append_keys:
    cwd: /home/ec2-user/.ssh/
    command: sort -u extra_authorized_keys authorized_keys -o authorized_keys
  99_rm_extra_keys:
    cwd: /home/ec2-user/.ssh/
    command: rm extra_authorized_keys
