files:
  /home/ec2-user/.ssh/extra_authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAuG3e32Z3Gu63eHwCLihO6b73pxzzm+StKo969ggT+sPvfTBi5P2k5uPCBH4KzQU+QXfHqBKi+oMh640YcH0wq6QrDqQrh36dauoL0PH8DpnaYcebUcxIFiiSNJBZDhx/DyEhrRav77dAE6NZLknMLmCOgTWCS2HwwQ8zWrBZFS8/tO9eqHjaGFnT9s59Qw/9RO2ylFLE1lwlpUrFiWxJtr+qCtNdFIR+rTtTFpPGVUi8l86c1KazKfC2LNaAM8dgidg1E/blKBEKTIPh/mpcB/mZH2oLVe3O/A5h1cC8ml0WGICL5a8hPtarmIsNhGzIFacsQJvjIzV+r3421Bjenw== rsa-key-20141108

commands:
  01_append_keys:
    cwd: /home/ec2-user/.ssh/
    command: sort -u extra_authorized_keys authorized_keys -o authorized_keys
  99_rm_extra_keys:
    cwd: /home/ec2-user/.ssh/
    command: rm extra_authorized_keys
