Resources:
 AWSEBLoadBalancerListener:
  Type: AWS::ElasticLoadBalancing::Listener
  Properties:
    LoadBalancerArn:
      Ref: AWSEBLoadBalancer
    Port: 80
    Protocol: HTTP
    DefaultActions:
      - Type: redirect
        RedirectConfig:
          Host: "#{host}"
          Path: "/#{path}"
          Port: "443"
          Protocol: "HTTPS"
          Query: "#{query}"
          StatusCode: "HTTP_301"
