.leaderboard
  .leaderboard-totals
    &-card
      display: flex
      height: 177px
      text-align: center

      &-label
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: calc(50% + 20px)

        margin: -20px
        padding: 20px

        color: white
        font-size: 20px
        font-weight: 900
        line-height: 22px
        border-radius: 5px

        img
          margin-bottom: 10px

      &-stat
        display: flex
        align-items: center
        justify-content: center
        width: 50%

        margin-left: 20px

        font-size: 60px
        font-weight: 700
