container_commands:
  00_download_conda:
    command: 'wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh'
    test: test ! -d /anaconda
  01_install_conda:
    command: 'bash Miniconda3-latest-Linux-x86_64.sh -b -f -p /anaconda'
    test: test ! -d /anaconda
  02_activate_conda:
    command: 'conda env create -f environment.yml && conda activate brain-score.web'
    