.left-sidebar
  position: fixed
  top: 0
  right: calc(100% - $sidebar_width)
  bottom: 0
  left: 0
  padding-right: 0
  background: $brainscore_gray4

  img.brainscore-logo
    margin: 55px 0 45px 75px

  a
    display: block
    padding-left: 20px
    line-height: 50px
    font-size: 16px
    text-decoration: none
    color: white

    img
      display: inline-block
      vertical-align: middle
      margin-right: 10px

    &.selected
      border-right: 8px solid $brainscore_green
