.left-sidebar
  position: fixed
  top: 0
  right: calc(100% - $sidebar_width)
  bottom: 0
  left: 0
  padding: 40px
  padding-right: 0
  background: $brainscore_gray4

  a
    display: block
    line-height: 50px
    text-decoration: none
    color: white

    &.selected
      border-right: 8px solid $brainscore_green
